#cal {
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex-basis: 30%;
}

[classe^="but"] {
    width: 33%;
}

.but0 {
    order: 12;
}

.but1 {
    width: 33%;
}

#resultat {
    width: 400px;
    height: 100px;
    border: thin solid rgb(46, 27, 27);
}